body{
    background: #fffff8;
    font-family: 'Oswald', sans-serif;
}

#app{
   
}
.headline {
    background-color: #3b4a6b;
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: 'Ranga', cursive;
    font-size: 4rem;
}
.holder{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.2);
}

.entry{
    background: rgba(185, 198, 228, 0.4);
}
/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
}

input{
    color: darkblue;
    font-family: 'Oswald', sans-serif;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 0.7rem;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

button {
    padding: 0.8rem;
    font-size: 1rem;
    color: white;
    background: #74c8d7;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
  }
  
  button:hover {
    background: #5baab5;
    transform: translateY(-2px);
  }
  
  button:active {
    transform: translateY(1px);
  }
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #74C8D7; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color:#74C8D7; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color:#74C8D7; 
    font-family: 'Oswald', sans-serif;

}

.weather-card {
    background: white;
    padding: 1.3rem;
    border-radius: 1.9rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  #date {
    font-size: 2.5rem;
    font-weight: bold;
    color: #74c8d7;
    padding-bottom: 1rem;
  }
  #weather-main {
    display: flex;
    align-items: center;
    gap: 6rem;
  }
  #temp {
    font-size: 15rem;
    padding: 0.9rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #ff7f50;
  }
  #weather-info {
    font-size: 4rem;
    color: #555;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #feel-title {
    font-size: 3rem;
    font-weight: bold;
    color: #555;
  }
  #feeling {
    font-size: 6rem;
    font-style: italic;
    color: violet;
  }

  @media (max-width: 768px) {

    .holder { 
        flex-direction: column;
    }

    #weather-main {
        flex-direction: column;
    }

  }